@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$background-default: rgb(96, 139, 150);
$background-card: rgba(43, 43, 43,0.9); 
$font-color: rgb(255, 255, 255);
$color-input: rgba(43, 43, 43,0.6);
$color-input-button: rgba(112, 192, 155,0.8);

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
html,body{
    width: 100%;
}
body{
    background: $background-default;
}
.container-cards{

    .button{
        width: 350px;
        cursor: pointer;
        background: $color-input-button;
        font-weight: 900;
        font-size: 1.3em;
        padding: 10px;
        margin: 20px;
        border-radius: 10px;
        outline: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        input{
            font-size: 1.3em;
            padding: 10px;
            width: 500px;
            border-radius: 10px;
            outline: none;
            box-shadow: none;
            border: none;

            @media (max-width: 640px){
                width: 250px;    
            }
        }
        input[type="text"]{
            background: $color-input;
            color: $font-color;
        }
        input[type="submit"]{
            margin-left: 20px;
            width: 250px;
            cursor: pointer;
            background: $color-input-button;
            font-weight: 900;
            padding: 10px;
        }
    }

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: $background-card;
    color: $font-color;
    margin: 15px;
    padding: 20px;
    width: auto;
    border-radius: 10px;

    box-shadow: 7px 3px 11px 1px rgba(0,0,0,0.9);

    .image:hover img{
       transform: scale(1.5);
       transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);

        margin-right: 50px;

        @media (max-width: 640px){
            margin: 0;
        }
    }

    .attacks{
        list-style: none;
    }

    .informacoes{
        p{
            padding: 5px;
            font-size: 1em;
        }
    }

    @media (max-width: 640px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}